name: delhi_jewel
description: Delhi Jewel mobile application
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.1.0
  mobile_scanner: ^3.5.0
  cached_network_image: ^3.3.0
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.2
  flutter_typeahead: ^4.7.0
  permission_handler: ^11.0.1
  flutter_keyboard_visibility: ^5.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/


